<section class="venue">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 item">
            <img src="assets/small_x2_Wine.jpg" alt="" class="head-img img-responsive" />
            <h3 class="title">Science Storms After Party</h3>
            <p>The Laracon after-parties will take place in the beautiful museum rotunda and Science Storms exhibit. Have a drink and mingle with the community while you check out the Tesla coil, steam tornado, and tsunami box. Drinks are on us!</p>
        </div>
        <div class="col-xs-12 col-md-6 item">
            <img src="assets/small_x2_Wine.jpg" alt="" class="head-img img-responsive" />
            <h3 class="title">Science Storms After Party</h3>
            <p>The Laracon after-parties will take place in the beautiful museum rotunda and Science Storms exhibit. Have a drink and mingle with the community while you check out the Tesla coil, steam tornado, and tsunami box. Drinks are on us!</p>
        </div>
      </div>
    </div>
</section>