/*
* @Author: liyue2018
* @Date:   2018-04-25 18:50:55
* @Last Modified by:   liyue2018
* @Last Modified time: 2018-04-25 19:09:47
*/
.venue{
    background:#363534;
    padding:4rem 0;
    height:auto;
    overflow:hidden;
    color:#E9D2C7;
    text-align:center;
    line-height:2rem;
    h3.title{
        color:#fff;
    }
    img.head-img{
        width:6rem;
        height:6rem;
        border-radius:50%;
        margin: 0 auto;
    }
}