
<div class="bg-white">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="small s-title">Real news, curated by real humans</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="">Packed with the trends, news & links you need to be smart, informed, and ahead of the curve.</h2>
        </div>
    </div>
</div>

<div class="row search-box">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入搜索关键字" [formControl]="titleFilter" />
        </div>
    </div>
</div>
<div class="row">
    <div *ngFor="let product of products | filter: 'title':keyword" class="col-md-3 col-sm-3 detail-item">
      <div class="thumbnail">
         <img src="assets/small_x2_Wine.jpg" class="img-responsive title-img" alt="头像图片" />
         <div class="tag small">{{ product.tag }}</div>
         <div class="caption">
            <!-- <h4 class="pull-right">{{ product.price}}元</h4> -->
            <h4><a [routerLink]="['./productDetail',product.id]">{{product.title}}</a></h4>
            <p>{{ product.desc}}</p>
         </div>
         <div class="hot-heart">
            <app-stars [rating]="product.rating"></app-stars>
         </div>
         <div class="list-subscription-action">
             <a href="#" class="col-xs-12 col-sm-12">
                <i class="glyphicon glyphicon-envelope"></i>
                  Subscribe
                <i class="glyphicon glyphicon-menu-right"></i>
             </a>
         </div>
      </div>
    </div>
</div>
